<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
        .properties-section {

        }

        .property-card {
            display: flex;
        }
        .property-card .property-img {

        }
        .property-card .property-img img{
            
        }

        .property-card .property-info {

        }
        .property-card .property-info h3 {
            
        }
        .property-card .property-info p{
            
        }
        .property-card .property-info a{
            display: flex;
        }
        .property-card .property-info a span{
            margin-left: 12px;
        }
        .property-card .property-info a span svg{
            width: 20px;
        }

        .properties-select {
            
        }
    </style>
    </head>
    <body>
        <section class="properties-section">
            <div>
                <h2>Select our properties</h2>
                <div>
                    <select onchange=\"filterSelection(this)\" class=\"properties-select\" name=\"type\" id=\"properties_type_select\">
                        <option selected value=\"Rent\">Rent</option>
                        <option value=\"Buy\">Buy</option>
                    </select>
                    <select onchange=\"filterSelection(this)\" class=\"properties-select\" name=\"status\" id=\"properties_status_select\">
                        <option value=\"Available\">Available</option>
                        <option selected value=\"Unavailable\">Unavailable</option>
                    </select>
                </div>

                <div class="properties-container">
                    <div class="properties-list">
                        <section
                            class="elementor-section elementor-inner-section elementor-element elementor-element-5635abcd elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                            data-id="5635abcd" data-element_type="section">
                            <div
                                class="elementor-container elementor-column-gap-no">
                                <div
                                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5e99511"
                                    data-id="5e99511" data-element_type="column">
                                    <div
                                        class="elementor-widget-wrap elementor-element-populated">
                                        <div
                                            class="elementor-element elementor-element-b8e4916 elementor-widget elementor-widget-image"
                                            data-id="b8e4916"
                                            data-element_type="widget"
                                            data-widget_type="image.default">
                                            <div
                                                class="elementor-widget-container">
                                                <img decoding="async"
                                                    width="577" height="448"
                                                    src="https://cordeiroferreira.com/wp-content/uploads/2023/07/casa3.png"
                                                    class="attachment-large size-large wp-image-2104"
                                                    alt loading="lazy"
                                                    srcset="https://cordeiroferreira.com/wp-content/uploads/2023/07/casa3.png 577w, https://cordeiroferreira.com/wp-content/uploads/2023/07/casa3-300x233.png 300w"
                                                    sizes="(max-width: 577px) 100vw, 577px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6a32df4"
                                    data-id="6a32df4" data-element_type="column">
                                    <div
                                        class="elementor-widget-wrap elementor-element-populated">
                                        <div
                                            class="elementor-element elementor-element-6a39b0af elementor-widget elementor-widget-heading"
                                            data-id="6a39b0af"
                                            data-element_type="widget"
                                            data-widget_type="heading.default">
                                            <div
                                                class="elementor-widget-container">
                                                <h6
                                                    class="elementor-heading-title elementor-size-default">LISBOA</h6>
                                            </div>
                                        </div>
                                        <div
                                            class="elementor-element elementor-element-12b72aa4 elementor-widget elementor-widget-heading"
                                            data-id="12b72aa4"
                                            data-element_type="widget"
                                            data-widget_type="heading.default">
                                            <div
                                                class="elementor-widget-container">
                                                <h2
                                                    class="elementor-heading-title elementor-size-default">Campolide</h2>
                                            </div>
                                        </div>
                                        <div
                                            class="elementor-element elementor-element-41e28180 elementor-widget elementor-widget-text-editor"
                                            data-id="41e28180"
                                            data-element_type="widget"
                                            data-widget_type="text-editor.default">
                                            <div
                                                class="elementor-widget-container">
                                                <p>These are the highlights of
                                                    this property.</p> </div>
                                        </div>
                                        <div
                                            class="elementor-element elementor-element-78ac5d63 elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                            data-id="78ac5d63"
                                            data-element_type="widget"
                                            data-widget_type="icon-list.default">
                                            <div
                                                class="elementor-widget-container">
                                                <link rel="stylesheet"
                                                    href="https://cordeiroferreira.com/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css">
                                                <ul
                                                    class="elementor-icon-list-items">
                                                    <li
                                                        class="elementor-icon-list-item">
                                                        <span
                                                            class="elementor-icon-list-icon">
                                                            <i
                                                                aria-hidden="true"
                                                                class="fas fa-caret-right"></i>
                                                        </span>
                                                        <span
                                                            class="elementor-icon-list-text">Blandit
                                                            fugit dicta
                                                            quibusdam, maxime
                                                            tempor</span>
                                                    </li>
                                                    <li
                                                        class="elementor-icon-list-item">
                                                        <span
                                                            class="elementor-icon-list-icon">
                                                            <i
                                                                aria-hidden="true"
                                                                class="fas fa-caret-right"></i>
                                                        </span>
                                                        <span
                                                            class="elementor-icon-list-text">Blandit
                                                            fugit dicta
                                                            quibusdam, maxime
                                                            tempor</span>
                                                    </li>
                                                    <li
                                                        class="elementor-icon-list-item">
                                                        <span
                                                            class="elementor-icon-list-icon">
                                                            <i
                                                                aria-hidden="true"
                                                                class="fas fa-caret-right"></i>
                                                        </span>
                                                        <span
                                                            class="elementor-icon-list-text">Blandit
                                                            fugit dicta
                                                            quibusdam, maxime
                                                            tempor</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div
                                            class="elementor-element elementor-element-43a2bb8 elementor-mobile-align-left elementor-widget elementor-widget-button"
                                            data-id="43a2bb8"
                                            data-element_type="widget"
                                            data-widget_type="button.default">
                                            <div
                                                class="elementor-widget-container">
                                                <div
                                                    class="elementor-button-wrapper">
                                                    <a
                                                        class="elementor-button elementor-button-link elementor-size-sm"
                                                        href="#">
                                                        <span
                                                            class="elementor-button-content-wrapper">
                                                            <span
                                                                class="elementor-button-text">Visit
                                                                Property</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <div class="property-card">
                            <div class="property-img">
                                <img
                                    src="https://cordeiroferreira.com/wp-content/uploads/2023/07/Campolide-Featured.png"
                                    alt>
                            </div>
                            <div
                                class="property-info elementor-column elementor-col-50 elementor-inner-column elementor-element">
                                <h3>Campo de Ourique</h3>
                                <p>This is a description of the property. Click
                                    the see more button below to obtain more
                                    information.</p>
                                <a href>
                                    See more
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 32 32"><path
                                                d="M 18.71875 6.78125 L 17.28125 8.21875 L 24.0625 15 L 4 15 L 4 17 L 24.0625 17 L 17.28125 23.78125 L 18.71875 25.21875 L 27.21875 16.71875 L 27.90625 16 L 27.21875 15.28125 Z"></path></svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>

echo "
<div>
    <select class=\"properties-select\" name=\"status\" id=\"properties_status_select\">
        <option value=\"Buy\">Buy</option>
        <option value=\"Rent\">Rent</option>
    </select>
</div>
";

function cordeiro_ferreira_select_btns() {
echo "
<div>
    <select class=\"properties-select\" name=\"status\" id=\"properties_status_select\">
        <option value=\"Buy\">Buy</option>
        <option value=\"Rent\">Rent</option>
    </select>
</div>
";
}
add_shortcode('cf_shortcode_select_btns', 'cordeiro_ferreira_select_btns');

function cordeiro_ferreira_shortcode_posts() {
$properties = get_posts([
'post_type' => 'property',
'post_status' => 'publish',
'posts_per_page' => 150,
// 'order' => 'ASC'
]);

// echo print_r($properties[0]);
// echo get_post_meta($properties[0]->ID, 'status', true);
// echo get_post_meta($properties[0]->ID, 'type', true);
// echo get_post_meta($properties[0]->ID, 'property_name', true);
// echo get_post_meta($properties[0]->ID, 'short_description', true);
// echo print_r(get_post_meta($properties[0]->ID, 'featured_image'));
// echo get_post_meta($properties[0]->ID, 'featured_image', true);
// echo wp_get_attachment_image(get_post_meta($properties[0]->ID,
'featured_image', true), 'full');

echo "
<div class=\"properties-list\">
    <section class=\"elementor-section elementor-inner-section elementor-element
        elementor-element-5635abcd elementor-section-content-middle
        elementor-section-boxed elementor-section-height-default
        elementor-section-height-default\" data-id=\"5635abcd\"
        data-element_type=\"section\">
        <div class=\"elementor-container elementor-column-gap-no\">
            <div class=\"elementor-column elementor-col-50
                elementor-inner-column elementor-element
                elementor-element-5e99511\" data-id=\"5e99511\"
                data-element_type=\"column\">
                <div class=\"elementor-widget-wrap elementor-element-populated\">
                    <div class=\"elementor-element elementor-element-b8e4916
                        elementor-widget elementor-widget-image\" data-id=\"b8e4916\"
                        data-element_type=\"widget\" data-widget_type=\"image.default\">
                        <div class=\"elementor-widget-container\">
                            <img decoding=\"async\" width=\"577\" height=\"448\"
                                src=\"https://cordeiroferreira.com/wp-content/uploads/2023/07/casa3.png\"
                                class=\"attachment-large size-large
                                wp-image-2104\" alt loading=\"lazy\" srcset=\"https://cordeiroferreira.com/wp-content/uploads/2023/07/casa3.png
                                577w,
                                https://cordeiroferreira.com/wp-content/uploads/2023/07/casa3-300x233.png
                                300w\" sizes=\"(max-width: 577px) 100vw, 577px\">
                        </div>
                    </div>
                </div>
            </div>
            <div class=\"elementor-column elementor-col-50
                elementor-inner-column elementor-element
                elementor-element-6a32df4\" data-id=\"6a32df4\"
                data-element_type=\"column\">
                <div class=\"elementor-widget-wrap elementor-element-populated\">
                    <!-- <div class=\"elementor-element elementor-element-6a39b0af elementor-widget elementor-widget-heading\" data-id=\"6a39b0af\" data-element_type=\"widget\" data-widget_type=\"heading.default\">
                        <div class=\"elementor-widget-container\">
                            <h6 class=\"elementor-heading-title elementor-size-default\">LISBOA</h6>
                        </div>
                    </div> -->
                    <div class=\"elementor-element elementor-element-12b72aa4
                        elementor-widget elementor-widget-heading\" data-id=\"12b72aa4\"
                        data-element_type=\"widget\" data-widget_type=\"heading.default\">
                        <div class=\"elementor-widget-container\">
                            <h2 class=\"elementor-heading-title
                                elementor-size-default\">get_post_meta($properties[0]->ID,
                                'property_name', true);</h2>
                        </div>
                    </div>
                    <div class=\"elementor-element elementor-element-41e28180
                        elementor-widget elementor-widget-text-editor\"
                        data-id=\"41e28180\" data-element_type=\"widget\"
                        data-widget_type=\"text-editor.default\">
                        <div class=\"elementor-widget-container\">
                            <p>These are the highlights of this property.</p>
                        </div>
                    </div>
                    <div class=\"elementor-element elementor-element-43a2bb8
                        elementor-mobile-align-left elementor-widget
                        elementor-widget-button\" data-id=\"43a2bb8\"
                        data-element_type=\"widget\" data-widget_type=\"button.default\">
                        <div class=\"elementor-widget-container\">
                            <div class=\"elementor-button-wrapper\">
                                <a class=\"elementor-button
                                    elementor-button-link elementor-size-sm\"
                                    href=\"#\">
                                    <span class=\"elementor-button-content-wrapper\">
                                        <span class=\"elementor-button-text\">Visit
                                            Property</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
";
}
add_shortcode('cf_shortcode_posts', 'cordeiro_ferreira_shortcode_posts');

<link rel=\"stylesheet\" href=\"https://cordeiroferreira.com/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css\">




<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        filterSelection({value: 'Rent'});
        filterSelection({value: 'Unavailable'});
    });

    let propertiesTypeSelect = document.getElementById('properties_type_select');
    let propertiesStatusSelect = document.getElementById('properties_staus_select');

    function filterSelection(c) {
        c = c.value;
        var x, i;
        x = document.getElementsByClassName('property-card');
        let property_count = x.length;

        if (c == 'all') {
            c = '';
        }

        for (i = 0; i < x.length; i++) {
            removeClass(x[i], 'hidden');
            if (x[i].className.indexOf(c) == -1) {
                property_count = property_count - 1;
                addClass(x[i], 'hidden');
            }
        }

        let noPropertiesTag = document.getElementById('no-properties-tag');
        if (property_count <= 0) {
            removeClass(noPropertiesTag, 'hidden');
        } else {
            addClass(noPropertiesTag, 'hidden');
        }
    }

    function addClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(' ');
        arr2 = name.split(' ');
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {
                element.className += ' ' + arr2[i];
            }
        }
    }

    function removeClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(' ');
        arr2 = name.split(' ');
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(' ');
    }
</script>